* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
}


body {
	background-image:url(../img/bg.jpeg);
}

.main {

	width: 30%;
	height: 80%;
	background-color: #FFF;
	border-radius: 10px;
	color: black;
	padding: 30px;
}

.cars {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -4.0rem;
}

.img-cars {
	max-width: 14.0rem;
	width: 10.0rem;
	min-width: 6.0rem;
	max-height: 19%;
	height: 15%;
	min-height: 14%;
	margin-left: 0.2rem;
	border: none;
}

.socialmidia {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: 15rem;
	margin-top: -25px;
	margin-bottom: 10px;
	padding-top: 20px ;
	border-radius: 11px;
	box-shadow: 2px 3px 4px;
}

.socialmidia-list {
	display: flex;
	flex-direction: initial;
	list-style: none;
}

svg {
	width: 5rem;
	height: 5rem;
	cursor: pointer;
}